<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <div class="row mt-3">
      <div class="col-8 offset-2 mt-3">
        <br><br>
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              name="listing[title]"
              placeholder="Enter title"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">Title looks good</div>
            <div class="invalid-feedback"> Give a proper title</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label" >Description</label>
            <textarea 
              name="listing[description]"
              placeholder="Enter description"
              class="form-control"
              required
              
            ></textarea>
            <div class="invalid-feedback"> Please give a short description</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
              name="listing[image]"
              type="file"
              class="form-control"
              required
            />
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input
                name="listing[price]"
                placeholder="1234"
                type="number"
                class="form-control"
                required
              />
              <div class="valid-feedback">Done</div>
            <div class="invalid-feedback"> Give a valid Price</div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input
                name="listing[country]"
                placeholder="India"
                type="text"
                class="form-control"
                required
              />
              <div class="valid-feedback">Done</div>
            <div class="invalid-feedback"> Give a proper Country name</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              placeholder="Lucknow,UP"
              type="text"
              class="form-control"
              required
            /><div class="valid-feedback">location looks good</div>
            <div class="invalid-feedback"> Give a proper location</div>

            <br /><br />

          </div>
          <button class="btn btn-dark add-btn mt-3">Add</button>
          <br><br>
        </form>
      </div>
    </div>
<script src="/js/script.js"></script>